<!doctype html>
<html>
  <head>
    <link rel="prev" href="index.html">
    <title>Names Index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body>

    <h1 class="title unnumbered">Names Index</h1>
    <hr>

    <% letters = JSON.parse $stdin.read %>

    <% letters.each do |letter, names| %>
    <h2 style='text-transform: uppercase'><%= letter %></h2>
    <dl>
      <% names.each do |ch| %>
      <dt><dfn><%= ch["name"] %></dfn></dt>
      <dd>
	<% unless ch["desc"].empty? %>
	<%= ch["desc"] %><br>
	<% end %>
	<a href='<%= ch["meta"]["href"] %>'><%= ch["meta"]["title"] %></a>
      </dd>
      <% end %>
    </dl>
    <% end %>

    <script src='nav.js'></script>
  </body>
</html>
