<!doctype html>
<html>
  <head>
    <link rel="prev" href="index.html">
    <title>Plays Index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body>

    <h1 class="title unnumbered">Plays Index</h1>
    <hr>

    <% cast = JSON.parse $stdin.read %>

    <% cast.each do |play| %>
    <h2><a href='<%= play["href"] %>'><%= play["title"] %></a></h2>
    <table class="my-ch-table">
      <tbody>
	<% play["cast"].each do |key,val| %>
	<tr>
	  <td><%= key %></td>
	  <td><%= val %></td>
	</tr>
	<% end %>
      </tbody>
    </table>
    <% end %>

    <script src='nav.js'></script>
  </body>
</html>
