<!doctype html>
<html>
  <head>
    <title><%= toc[:title] %></title>
    <meta name="author" content="<%= toc[:creator] %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body>

<h1 class="title"><%= toc[:creator] %></h1>
<hr />

<div class="my-subtitle"><%= toc[:title] %></div>
<div class="my-subtitle"><i><%= toc[:subtitle] %></i></div>

<hr />

<div class="my-subtitle">Table of Contents</div>

<ol>
  <% toc[:body].each do |item| %>
  <li class="<%= item[:klass] %>"><a href="<%= item[:url] %>"><%= item[:name] %></a></li>
  <% end %>
</ol>

<table class="meta-build">
  <tbody>
    <tr>
      <td style="padding-right: 4em">Git</td>
      <td><code><%= `git log -1 --format='%D, %h, %cd'` %></code></td>
    </tr>
    <tr>
      <td>Build date</td>
      <td><code><%= Time.now.strftime('%a %-d %b %Y %T %z') %></code></td>
    </tr>
    <tr>
      <td>Platform</td>
      <td><code><%= RUBY_PLATFORM %></code></td>
    </tr>
  </tbody>
</table>

  </body>
</html>
