/* common rules for web & epub */

@media (min-width: 601px) {
  body {
    width: 600px;
    margin: 0 auto;
  }
}

@media print {
  .noprint {
    display: none !important;
  }
}

/* toc */
.unnumbered {
  list-style-type: none;
}

/* index.html */

li.unnumbered {
  margin-top: 0.5em;
}

li.unnumbered ~ li.unnumbered {
  margin-top: initial;
}


table.meta-build {
  border-collapse: collapse;
  margin: 2em auto;
}

.meta-build td {
  padding: 4px;
  border: 1px solid lightgrey;
}

/* Plays */

.nobr {
  white-space: nowrap;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

.my-subtitle {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.my-quote {
  text-align: right;
}

.my-ch-cast-title::before {
  content: 'Cast of Characters';
}

/* Characters Table */

.my-ch-table {
  width: 100%;
}

.my-ch-table td {
  width: 50%;
  vertical-align: top;
}

.my-ch-table tr td:first-child {
  padding-right: 1em;
}

@media (color) {
  .my-ch-table tr:nth-child(even) {
    background-color: ghostwhite;
  }
}

/* Set */

.my-set {
  margin-left: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (color) {
  .my-set {
    color: #333;
  }
}

/* Character speech */

.my-ch {
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

@media (color) {
  .my-ch {
    color: maroon;
  }
}

/* Character actions */

.my-ch-stage {
  margin-left: 25%;
  margin-right: 25%;
}

.my-ch-stage::before {
  content: '(';
}

.my-ch-stage::after {
  content: ')';
}

.my-ch-stage-other {
  margin-top: 1em;
  margin-left: 25%;
  margin-right: 25%;
}

.my-ch-stage-other::before {
  content: '(';
}

.my-ch-stage-other::after {
  content: ')';
}

/* Curtain */

.my-end {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.my-end::before {
  content: '(';
}

.my-end::after {
  content: ')';
}
